{% for challenge in challenges %}
### [{{ challenge["name"] }}]({{ challenge["url"] }})
{% for category in challenge["categories"].keys() %}
    * {{ category }}: {{ ", ".join(challenge["categories"][category]) }}
{% endfor %}
> {{ challenge["description"] }}
{% endfor %}